*.env*
temp/
projects/
Downloads/
Documents/
Desktop/
Pictures/
.vscode/
.rustup/
.vim/
.steam/
.quokka/
.nuget/
.npm/
.cache/
.mozilla/
.local/share
.local/state
.local/go
.local/zed.app/
.local/bin
nvm/
obsidian/
unity3d/
google-chrome/
.dotnet/
.gnupg/
micro/
go/
discord/
Signal/
Code/
Code - OSS/
.vscode-oss/
.cargo/
spotify/
